<!DOCTYPE html>
<html>
<head>
  <title>GrantDeskTest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul id="menu">
    <% unless request.fullpath == root_path %>
      <li><%= link_to "Home", root_url %></li>
    <% end %>
    <% unless request.fullpath == cases_path %>
      <li><%= link_to "List cases in first filter", cases_url %></li>
    <% end %>
    <% unless request.fullpath == labels_path %>
      <li><%= link_to "List labels", labels_url %></li>
    <% end %>
    <% unless request.fullpath == new_label_path %>
      <li><%= link_to "Create label", new_label_url %></li>
    <% end %>
  </ul>

  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

<%= yield %>

</body>
</html>
