<!DOCTYPE html>
<html>
<head>
  <title>GrantDeskTest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <table id="menu">
    <tr>
      <% unless request.fullpath == root_path %>
        <td><%= link_to "Home", root_url %></td>
      <% end %>
      <% unless request.fullpath == cases_path %>
        <td><%= link_to "List cases in first filter", cases_url %></td>
      <% end %>
      <% unless request.fullpath == labels_path %>
        <td><%= link_to "List labels", labels_url %></td>
      <% end %>
      <% unless request.fullpath == new_label_path %>
        <td><%= link_to "Create label", new_label_url %></td>
      <% end %>
    </tr>
  </table>

  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

<%= yield %>

</body>
</html>
